<html>
<head>
<title>detailspage</title>
</head>
<body>
<form method="POST">
<label>Enter your name:</label>
<input type="name" name="studentname" placeholder="Enter your name here" required></br>
<label>Enter your age</label>
<input type="int" name="age" placeholder="Enter your age here" required></br>
<label>Enter your previous college name</label>
<input type="text" name="previous college" placeholder="Enter your previous collge name here" required></br>
<input type="submit" value="submit"></br>
</form>
</body>
</html>